<a href="https://colab.research.google.com/github/al2501/fooddesert/blob/main/Geofood_Final_with_Labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup Environment

In [ ]:
#Install newest branch
!pip install pysal

#Install the geopandas module
!pip install geopandas

Requirement already satisfied: pysal in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: inequality>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.0.0)
Requirement already satisfied: esda>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.4.1)
Requirement already satisfied: splot>=1.1.4 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.1.4)
Requirement already satisfied: pytest-cov in /usr/local/lib/python3.7/dist-packages (from pysal) (2.9.0)
Requirement already satisfied: spaghetti>=1.6.2 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.6.5)
Requirement already satisfied: tobler>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from pysal) (0.8.2)
Requirement already satisfied: libpysal>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from pysal) (4.5.1)
Requirement already satisfied: urllib3>=1.26 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.26.8)
Requirement already satisfied: python-dateutil<=2.8.0 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.8.0)
Requirement already satisfied: access>=1.1.3 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.1.3)
Requirement already satisfied: spglm>=1.0.8 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.0.8)
Requirement already satisfied: segregation>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.1.0)
Requirement already satisfied: coverage in /usr/local/lib/python3.7/dist-packages (from pysal) (6.2)
Requirement already satisfied: mgwr>=2.1.2 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.1.2)
Requirement already satisfied: pointpats>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.2.0)
Requirement already satisfied: spint>=1.0.7 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.0.7)
Requirement already satisfied: mapclassify>=2.4.3 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.4.3)
Requirement already satisfied: spopt>=0.1.2 in /usr/local/lib/python3.7/dist-packages (from pysal) (0.2.1)
Requirement already satisfied: giddy>=2.3.3 in /usr/local/lib/python3.7/dist-packages (from pysal) (2.3.3)
Requirement already satisfied: pytest in /usr/local/lib/python3.7/dist-packages (from pysal) (3.6.4)
Requirement already satisfied: spvcm>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from pysal) (0.3.0)
Requirement already satisfied: spreg>=1.2.4 in /usr/local/lib/python3.7/dist-packages (from pysal) (1.2.4)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.7/dist-packages (from access>=1.1.3->pysal) (1.1.5)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from access>=1.1.3->pysal) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from esda>=2.4.1->pysal) (1.0.2)
Requirement already satisfied: scipy>=0.11 in /usr/local/lib/python3.7/dist-packages (from esda>=2.4.1->pysal) (1.4.1)
Requirement already satisfied: quantecon>=0.4.7 in /usr/local/lib/python3.7/dist-packages (from giddy>=2.3.3->pysal) (0.5.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.5.1->pysal) (2.27.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.5.1->pysal) (2.11.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from libpysal>=4.5.1->pysal) (4.6.3)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify>=2.4.3->pysal) (2.6.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.4->access>=1.1.3->pysal) (2018.9)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pointpats>=2.2.0->pysal) (3.2.2)
Requirement already satisfied: opencv-contrib-python>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from pointpats>=2.2.0->pysal) (4.5.5.62)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<=2.8.0->pysal) (1.15.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.7/dist-packages (from quantecon>=0.4.7->giddy>=2.3.3->pysal) (1.7.1)
Requirement already satisfied: numba>=0.38 in /usr/local/lib/python3.7/dist-packages (from quantecon>=0.4.7->giddy>=2.3.3->pysal) (0.51.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.38->quantecon>=0.4.7->giddy>=2.3.3->pysal) (57.4.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.38->quantecon>=0.4.7->giddy>=2.3.3->pysal) (0.34.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (0.11.2)
Requirement already satisfied: rvlib>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (0.0.6)
Requirement already satisfied: pygeos in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (0.12.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (1.1.0)
Requirement already satisfied: geopandas>=0.9 in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (0.10.2)
Requirement already satisfied: quilt3 in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (3.6.0)
Requirement already satisfied: pip in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (21.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (4.62.3)
Requirement already satisfied: deprecation in /usr/local/lib/python3.7/dist-packages (from segregation>=2.0.0->pysal) (2.1.0)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas>=0.9->segregation>=2.0.0->pysal) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas>=0.9->segregation>=2.0.0->pysal) (1.8.0)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas>=0.9->segregation>=2.0.0->pysal) (1.8.20)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.9->segregation>=2.0.0->pysal) (2021.10.8)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.9->segregation>=2.0.0->pysal) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.9->segregation>=2.0.0->pysal) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.9->segregation>=2.0.0->pysal) (21.4.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.9->segregation>=2.0.0->pysal) (0.7.2)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas>=0.9->segregation>=2.0.0->pysal) (7.1.2)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from rvlib>=0.0.5->segregation>=2.0.0->pysal) (6.0)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from rvlib>=0.0.5->segregation>=2.0.0->pysal) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.0.0->rvlib>=0.0.5->segregation>=2.0.0->pysal) (2.21)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->esda>=2.4.1->pysal) (3.0.0)
Requirement already satisfied: rtree in /usr/local/lib/python3.7/dist-packages (from spaghetti>=1.6.2->pysal) (0.9.7)
Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (from splot>=1.1.4->pysal) (1.1.0)
Requirement already satisfied: pulp in /usr/local/lib/python3.7/dist-packages (from spopt>=0.1.2->pysal) (2.6.0)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from tobler>=0.8.2->pysal) (0.10.2)
Requirement already satisfied: rasterio in /usr/local/lib/python3.7/dist-packages (from tobler>=0.8.2->pysal) (1.2.10)
Requirement already satisfied: rasterstats in /usr/local/lib/python3.7/dist-packages (from tobler>=0.8.2->pysal) (0.16.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from deprecation->segregation>=2.0.0->pysal) (21.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->libpysal>=4.5.1->pysal) (2.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pointpats>=2.2.0->pysal) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pointpats>=2.2.0->pysal) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pointpats>=2.2.0->pysal) (1.3.2)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.7/dist-packages (from pytest->pysal) (1.4.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from pytest->pysal) (1.11.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest->pysal) (8.12.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.7/dist-packages (from pytest->pysal) (0.7.1)
Requirement already satisfied: flask-json in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (0.3.4)
Requirement already satisfied: tenacity>=5.1.1 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (8.0.1)
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (1.1.4)
Requirement already satisfied: jsonschema==3.* in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (3.2.0)
Requirement already satisfied: jsonlines==1.2.0 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (1.2.0)
Requirement already satisfied: dnspython>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (2.1.0)
Requirement already satisfied: boto3>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (1.20.37)
Requirement already satisfied: aws-requests-auth>=0.4.2 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (0.4.3)
Requirement already satisfied: requests-futures==1.0.0 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (1.0.0)
Requirement already satisfied: appdirs>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (1.4.4)
Requirement already satisfied: flask-cors in /usr/local/lib/python3.7/dist-packages (from quilt3->segregation>=2.0.0->pysal) (3.0.10)
Requirement already satisfied: pyrsistent>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema==3.*->quilt3->segregation>=2.0.0->pysal) (0.18.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema==3.*->quilt3->segregation>=2.0.0->pysal) (4.10.0)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3>=1.10.0->quilt3->segregation>=2.0.0->pysal) (0.10.0)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3>=1.10.0->quilt3->segregation>=2.0.0->pysal) (0.5.0)
Requirement already satisfied: botocore<1.24.0,>=1.23.37 in /usr/local/lib/python3.7/dist-packages (from boto3>=1.10.0->quilt3->segregation>=2.0.0->pysal) (1.23.37)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests->libpysal>=4.5.1->pysal) (2.0.10)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->libpysal>=4.5.1->pysal) (2.10)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask->quilt3->segregation>=2.0.0->pysal) (1.0.1)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask->quilt3->segregation>=2.0.0->pysal) (1.1.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->jsonschema==3.*->quilt3->segregation>=2.0.0->pysal) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->jsonschema==3.*->quilt3->segregation>=2.0.0->pysal) (3.10.0.2)
Requirement already satisfied: affine in /usr/local/lib/python3.7/dist-packages (from rasterio->tobler>=0.8.2->pysal) (2.3.0)
Requirement already satisfied: snuggs>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from rasterio->tobler>=0.8.2->pysal) (1.4.7)
Requirement already satisfied: simplejson in /usr/local/lib/python3.7/dist-packages (from rasterstats->tobler>=0.8.2->pysal) (3.17.6)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from statsmodels->tobler>=0.8.2->pysal) (0.5.2)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.7/dist-packages (from sympy->quantecon>=0.4.7->giddy>=2.3.3->pysal) (1.2.1)
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.20)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)

In [ ]:
!pip install descartes
!pip install mapclassify

Requirement already satisfied: descartes in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from descartes) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.19.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->descartes) (1.3.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->descartes) (1.15.0)
Requirement already satisfied: mapclassify in /usr/local/lib/python3.7/dist-packages (2.4.3)
Requirement already satisfied: networkx in /usr/local/lib/python3.7/dist-packages (from mapclassify) (2.6.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.0.2)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.4.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.1.5)
Requirement already satisfied: numpy>=1.3 in /usr/local/lib/python3.7/dist-packages (from mapclassify) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->mapclassify) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->mapclassify) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->mapclassify) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mapclassify) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->mapclassify) (1.1.0)

In [ ]:
from pysal import *
import geopandas as gp
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import pylab
import descartes
import mapclassify

%matplotlib inline

plt.style.use('ggplot')
pylab.rcParams['figure.figsize'] = (20., 16.)

## Import and Clean Local Authorities Dataset

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# importing and visualisating our shapefile for the first time

data_path = "/content/drive/MyDrive/QM data/third map geofood/Local_Authority_Districts_(December_2020)_UK_BFC.shp"

df1 = gp.read_file(data_path)

df1.tail()

     OBJECTID  ...                                           geometry
374       375  ...  POLYGON ((323898.201 211287.499, 324115.698 21...
375       376  ...  MULTIPOLYGON (((327830.799 231005.105, 327840....
376       377  ...  MULTIPOLYGON (((342211.900 194845.495, 342221....
377       378  ...  POLYGON ((322392.901 334017.198, 322378.002 33...
378       379  ...  POLYGON ((303435.502 214925.598, 303431.602 21...

[5 rows x 11 columns]

In [ ]:
df1['geometry'].head()

0    MULTIPOLYGON (((447213.899 537036.104, 447228....
1    MULTIPOLYGON (((448609.900 521982.600, 448616....
2    MULTIPOLYGON (((455932.335 527880.697, 455919....
3    MULTIPOLYGON (((444157.002 527956.304, 444165....
4    POLYGON ((423496.602 524724.299, 423497.204 52...
Name: geometry, dtype: geometry

In [ ]:
#cleaning the dataset
clean = df1[['LAD20CD','LAD20NM','geometry']]
UK_LTLAs=clean.replace(',', '', regex=True)

In [ ]:
UK_LTLAs.head()

     LAD20CD  ...                                           geometry
0  E06000001  ...  MULTIPOLYGON (((447213.899 537036.104, 447228....
1  E06000002  ...  MULTIPOLYGON (((448609.900 521982.600, 448616....
2  E06000003  ...  MULTIPOLYGON (((455932.335 527880.697, 455919....
3  E06000004  ...  MULTIPOLYGON (((444157.002 527956.304, 444165....
4  E06000005  ...  POLYGON ((423496.602 524724.299, 423497.204 52...

[5 rows x 3 columns]

In [ ]:
UK_LTLAs['geometry'].head()

0    MULTIPOLYGON (((447213.899 537036.104, 447228....
1    MULTIPOLYGON (((448609.900 521982.600, 448616....
2    MULTIPOLYGON (((455932.335 527880.697, 455919....
3    MULTIPOLYGON (((444157.002 527956.304, 444165....
4    POLYGON ((423496.602 524724.299, 423497.204 52...
Name: geometry, dtype: geometry

In [ ]:
UK_LTLAs.crs

<Projected CRS: EPSG:27700>
Name: OSGB36 / British National Grid
Axis Info [cartesian]:
- E[east]: Easting (metre)
- N[north]: Northing (metre)
Area of Use:
- name: United Kingdom (UK) - offshore to boundary of UKCS within 49째45'N to 61째N and 9째W to 2째E; onshore Great Britain (England, Wales and Scotland). Isle of Man onshore.
- bounds: (-9.0, 49.75, 2.01, 61.01)
Coordinate Operation:
- name: British National Grid
- method: Transverse Mercator
Datum: Ordnance Survey of Great Britain 1936
- Ellipsoid: Airy 1830
- Prime Meridian: Greenwich

In [ ]:
UK_LTLAs.crs.name
UK_LTLAs.crs.datum

DATUM["Ordnance Survey of Great Britain 1936",
    ELLIPSOID["Airy 1830",6377563.396,299.3249646,
        LENGTHUNIT["metre",1]],
    ID["EPSG",6277]]

In [ ]:
type(UK_LTLAs.crs)

pyproj.crs.crs.CRS

In [ ]:
UK_LTLAs.head()

     LAD20CD  ...                                           geometry
0  E06000001  ...  MULTIPOLYGON (((447213.899 537036.104, 447228....
1  E06000002  ...  MULTIPOLYGON (((448609.900 521982.600, 448616....
2  E06000003  ...  MULTIPOLYGON (((455932.335 527880.697, 455919....
3  E06000004  ...  MULTIPOLYGON (((444157.002 527956.304, 444165....
4  E06000005  ...  POLYGON ((423496.602 524724.299, 423497.204 52...

[5 rows x 3 columns]

In [ ]:
UK_LTLAs.crs = 'epsg:27700'
target_crs = {'datum':'OSGB36', 'no_defs':True, 'proj':'merc'}
projected_UK_LTLAs = UK_LTLAs.to_crs(crs=target_crs)

## Import and Clean E-Food Desert Index (EFDI) Dataset

Retrieved from https://data.cdrc.ac.uk/dataset/e-food-desert-index/resource/efdi-england-and-wales

In [ ]:
#importing dataset 2
data_path = "/content/drive/MyDrive/QM data/third map geofood/efdi_england.csv"

food = pd.read_csv(data_path, encoding = 'latin1')
food.head()

  LSOA or DZ Nation     Score  Rank  Decile
0  W01000532  Wales  70.82672   1.0     1.0
1  W01000545  Wales  70.54694   2.0     1.0
2  W01000471  Wales  70.51910   3.0     1.0
3  W01000529  Wales  70.37505   4.0     1.0
4  W01000506  Wales  70.23811   5.0     1.0

In [ ]:
#checking if there is no error
food.replace(',', '', regex=True, inplace=True)
food['Score'] = food['Score'].replace('-', 'NaN', regex=True).astype('float')
food['Score'].head()

0    70.82672
1    70.54694
2    70.51910
3    70.37505
4    70.23811
Name: Score, dtype: float64

In [ ]:
#cleaning the data
food = food.rename(columns={'LSOA or DZ':'LSOA'})
food.drop(labels=34753, axis=0)

            LSOA   Nation     Score     Rank  Decile
0      W01000532    Wales  70.82672      1.0     1.0
1      W01000545    Wales  70.54694      2.0     1.0
2      W01000471    Wales  70.51910      3.0     1.0
3      W01000529    Wales  70.37505      4.0     1.0
4      W01000506    Wales  70.23811      5.0     1.0
...          ...      ...       ...      ...     ...
34748  W01001823    Wales   1.40386  34749.0    10.0
34749  W01001922    Wales   1.33212  34750.0    10.0
34750  E01014557  England   1.27383  34751.0    10.0
34751  E01014511  England   1.23816  34752.0    10.0
34752  E01014508  England   1.17292  34753.0    10.0

[34753 rows x 5 columns]

In [ ]:
food = food[food.Nation != 'Wales']
food.drop('Rank', axis=1, inplace=True)
food.drop('Nation', axis=1, inplace=True)
food.drop('Decile', axis=1, inplace=True)

In [ ]:
food.head()

         LSOA     Score
11  E01027390  68.40022
20  E01019259  66.39587
24  E01029014  65.32626
25  E01019305  65.22630
29  E01020126  64.61247

## Converting LSOAs to Local Authorities

File retrieved from https://geoportal.statistics.gov.uk/datasets/lower-layer-super-output-area-2011-to-ward-2020-lookup-in-england-and-wales/explore

In [ ]:
#importing file
data_path = "/content/drive/MyDrive/QM data/first map/loastoward.csv"
convert = pd.read_csv(data_path, encoding = 'latin1')
convert.head()

   챦쨩쩔FID   LSOA11CD  ...    LAD20CD               LAD20NM
0       1  E01011949  ...  E06000001            Hartlepool
1       2  E01012162  ...  E06000003  Redcar and Cleveland
2       3  E01011950  ...  E06000001            Hartlepool
3       4  E01012163  ...  E06000003  Redcar and Cleveland
4       5  E01012164  ...  E06000003  Redcar and Cleveland

[5 rows x 7 columns]

In [ ]:
# cleaning dataset by removing unecessary columns
convert.drop('WD20CD', axis=1, inplace=True)
convert.drop('WD20NM', axis=1, inplace=True)
convert.drop('LAD20NM', axis=1, inplace=True)
convert.drop('LSOA11NM', axis=1, inplace=True)
convert.drop('챦쨩쩔FID', axis=1, inplace=True)

In [ ]:
convert = convert.rename(columns={'LSOA11CD':'LSOA'})

In [ ]:
convert.head()

        LSOA    LAD20CD
0  E01011949  E06000001
1  E01012162  E06000003
2  E01011950  E06000001
3  E01012163  E06000003
4  E01012164  E06000003

## Merging EFDI Dataset with Local Authorities Dataset

In [ ]:
merge1= convert.merge(food,right_on='LSOA',left_on='LSOA')
merge1.tail()

            LSOA    LAD20CD     Score
32839  E01033604  E09000033  18.54483
32840  E01033605  E09000033  32.57577
32841  E01033606  E09000033   8.01943
32842  E01033607  E09000033   9.51512
32843  E01033608  E09000033   9.77768

In [ ]:
merge1.drop(columns=["LSOA"],inplace=True)

In [ ]:
merge1.tail()

         LAD20CD     Score
32839  E09000033  18.54483
32840  E09000033  32.57577
32841  E09000033   8.01943
32842  E09000033   9.51512
32843  E09000033   9.77768

In [ ]:
df = pd.DataFrame(merge1, columns = ['LAD20CD', 'Score'])
df

         LAD20CD     Score
0      E06000001  33.41165
1      E06000003  21.06797
2      E06000001  42.01377
3      E06000003  13.95741
4      E06000003  23.39422
...          ...       ...
32839  E09000033  18.54483
32840  E09000033  32.57577
32841  E09000033   8.01943
32842  E09000033   9.51512
32843  E09000033   9.77768

[32844 rows x 2 columns]

In [ ]:
new_val = df[df.duplicated('LAD20CD')]
print(new_val)

         LAD20CD     Score
2      E06000001  42.01377
3      E06000003  13.95741
4      E06000003  23.39422
5      E06000001  29.16406
6      E06000003  32.24583
...          ...       ...
32839  E09000033  18.54483
32840  E09000033  32.57577
32841  E09000033   8.01943
32842  E09000033   9.51512
32843  E09000033   9.77768

[32530 rows x 2 columns]

In [ ]:
mean1 = df.groupby('LAD20CD').mean({'Score':'first'}).reset_index()
print (mean1)

       LAD20CD      Score
0    E06000001  29.275454
1    E06000002  28.090475
2    E06000003  26.600593
3    E06000004  21.535062
4    E06000005  23.984222
..         ...        ...
309  E09000029  13.012150
310  E09000030  15.402752
311  E09000031  15.264457
312  E09000032  10.025566
313  E09000033  16.678192

[314 rows x 2 columns]

## Completing Final Merged Dataset

In [ ]:
geofood = mean1.merge(UK_LTLAs,right_on='LAD20CD',left_on='LAD20CD')
geofood.tail()

       LAD20CD  ...                                           geometry
309  E09000029  ...  POLYGON ((527085.942 167617.691, 527087.728 16...
310  E09000030  ...  POLYGON ((536776.386 184446.881, 536777.600 18...
311  E09000031  ...  POLYGON ((537921.098 196048.201, 537947.499 19...
312  E09000032  ...  POLYGON ((530059.620 177871.478, 530066.940 17...
313  E09000033  ...  POLYGON ((526755.127 183684.425, 526773.270 18...

[5 rows x 4 columns]

In [ ]:
geofood['Score']=geofood['Score'].round(decimals=3)
geofood['Score'].head()

0    29.275
1    28.090
2    26.601
3    21.535
4    23.984
Name: Score, dtype: float64

In [ ]:
geofood.to_csv('geofood_final.csv')
!cp geofood_final.csv "/content/drive/MyDrive/QM data/third map geofood"

In [ ]:
geofood = gp.GeoDataFrame(geofood, geometry='geometry')
geofood.to_file('geofood_final.zip', driver='ESRI Shapefile')
!cp geofood_final.zip "/content/drive/MyDrive/QM data/third map geofood"

cp: -r not specified; omitting directory 'geofood_final.zip'